* {
    scroll-snap-type: y mandatory;
}

.section-cont {
    scroll-snap-align: start;
}

.section-cont:nth-child(1) div section,
.section-cont:nth-child(2) div section,
.section-cont:nth-child(3) div section,
.section-cont:nth-child(4) div section,
.section-cont:nth-child(5) div section, 
.section-cont:nth-child(6) div section,
.section-cont:nth-child(7) div section
{
   height: 100dvh;
}


@media only screen and (max-width: 767px) {
    #home {
       display: flex;
       align-items: center;
    }
}


#googlemaps {
    filter: invert(90%) hue-rotate(180deg)
}









